<h2>Customers</h2>
<%= render partial: "customers/index" %>

<p><a href="#" id="customer-accordion">Add new customer</a></p>
  <section id="add-new-customer">
    <%= render partial: "customers/new_form" %>
  </section>
</div>
