<% if user_signed_in? %>
<%else %>
  <div class="login-container">
<div class="bottom-link"><div class="signupnow">Don't have an account? <a href="http://dispatchdevil.com"><strong>Register today</strong></a>.</div></div>
<% end %>
