<!DOCTYPE html>
<html>
<head>
  <title>Trash!</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body ng-app="trash">
<div class="wrapper">
        <div ng-include="'nav/_nav.html'"></div>
        <ui-view></ui-view>
        <!-- <div ng-include="'customers/_customers.html'"></div> -->
  </div>
</body>
</html>
