<!DOCTYPE html>
<html>
<head>
  <title>Trash</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="trash">
<div class="wrapper">
        <!-- <div ng-include="'nav/_nav.html'"></div> -->
        <ui-view></ui-view>
        <!-- <div ng-include="'customers/_customers.html'"></div> -->
  </div>
</body>
</html>
